---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Blogs";
---
<BaseLayout pageTitle={pageTitle}>
  <p>This page conatins my blogs about my life and everything else.</p>

  <ul><li><a href="/hello-astro/blogs/blog-1">Blog 1</a></li></ul>
  <ul><li><a href="/hello-astro/blogs/blog-2">Blog 2</a></li></ul>
  <ul><li><a href="/hello-astro/blogs/blog-3">Blog 3</a></li></ul>
</BaseLayout>
