---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hello Astro - Blogs </title>
	</head>
	<body>
    <a href="/hello-astro/">Home</a>
    <a href="/hello-astro/about/">About</a>
    <a href="/hello-astro/blogs/">Blogs</a>
		<h1>Blogs</h1>
    <p>This page conatins my blogs about my life and everything else.</p>

    <ul><li><a href="/hello-astro/blogs/blog-1">Blog 1</a></li></ul>
    <ul><li><a href="/hello-astro/blogs/blog-2">Blog 2</a></li></ul>
    <ul><li><a href="/hello-astro/blogs/blog-3">Blog 3</a></li></ul>
	</body>
</html>
