---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/hello-astro/">Home</a>
    <a href="/hello-astro/about/">About</a>
		<h1>Life is not the best thing but one had to try</h1>
	</body>
</html>
