---
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <span>Bibek Jha | Exoutia</span>
        <Navigation />
    </nav>
</header>

<style>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav span {
        font-size: 2em;
        color: black;
    }
</style>
